<div class="currentForecastContainer">
    <div class="currentForecastImage">
       <img src="img/WeatherIcons/@(currentForecast?.Weather[0].Icon).svg" alt="Weather Icon" /
    </div>
</div>

@code {
    [Parameter]
    public string? ErrorString { get; set; }
}
